#input{
    border: none;
    padding-right: 20px;
    /* margin: 0px 15px; */
    margin-right: 15px;
    margin-left: 15px;
    width: calc(100% - 60px);  
    border-radius: 15px;
    height: 45px;
    position: relative;
    
    
}
#searchBtn{
    color: aliceblue;
    position: absolute;
    right: 31px;
    transform: translateY(1px);
    border: none;
    border-radius: 15px;
    height: 45px;
    
    
    background-image: linear-gradient(orange 10%, blue 30%, red 60% );
}
#divForPoster{
    background-image: linear-gradient(rgba(0,0,255,0.5)), url("americanPsycho.webp");
    background-color: aqua;
    height: 400px;
    width: 100%;
    background-size: contain;
   
}
#divForText{
    color: white;
    
    padding: 40px;
}
.movie_img{
    max-width: 100%;
    max-height: 170px;
    width: auto;
    height: auto;
    object-fit: scale-down;
    border-radius: 5px;
}
.cardDiv{
    margin: 5px;
}
#colorForReleaseDate{
    color: #CECECE;
}