#input{
    border: none;
    padding-right: 20px;
    width: calc(100% - 30px);
    margin: 5px;
    border-radius: 15px;
    height: 45px;
    position: relative;
    margin: 0px 15px;
    
}
#searchBtn{
    color: aliceblue;
    position: absolute;
    right: 15px;
    /* transform: translate(-4px, 0px); */
    transform: translateX();
    /* top: 206px; */
    border: none;
    border-radius: 15px;
    height: 45px;
    
    
    background-image: linear-gradient(orange 10%, blue 30%, red 60% );
}
#divForPoster{
    background-image: linear-gradient(rgba(0,0,255,0.5)), url("americanPsycho.webp");
    background-color: aqua;
    height: 400px;
    width: 100%;
    background-size: contain;
    /* background-repeat: no-repeat; */
}
#divForText{
    color: white;
    
    padding: 40px;
}