#input{
    border: none;
    padding-right: 20px;
    /* margin: 0px 15px; */
    margin-right: 15px;
    margin-left: 15px;
    width: calc(100% - 60px);  
    border-radius: 15px;
    height: 45px;
    position: relative;
    
    
}
#searchBtn{
    color: aliceblue;
    position: absolute;
    right: 45px;
    /* transform: translateY(1px); */
    border: none;
    border-radius: 15px;
    height: 45px;
    
    
    background-image: linear-gradient(orange 10%, blue 30%, red 60% );
}
#divForPoster{
    background-image: linear-gradient(rgba(0,0,255,0.5)), url("americanPsycho.webp");
    background-color: aqua;
    height: 400px;
    width: 100%;
    background-size: contain;
   
}
#divForText{
    color: white;
    
    padding: 40px;
}
.movie_img{
    
    max-width: 100%;
    max-height: 170px;
    width: auto;
    height: auto;
    object-fit: scale-down;
    border-radius: 5px;
}
.cardDiv{
    margin: 5px;
    height: auto;
}
#colorForReleaseDate{
    color: #CECECE;
}
.overView{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.hidden {
    display: none;
}
#divForResult{
    position: relative;
    color: white;
    margin: 10px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
#divForResult::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    z-index: -1;
}
#backBtn {
    position: absolute;
    right: 5px;
    /* margin: 20px; */
    border: none;
    color: white;
    font-size: large;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    background-image: linear-gradient(blue 0%, red 30%, black 70%);
}
#divForFullInfo{
   /* min-height: 500px; */
   height: 700px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(blue 0%, white 90%);
    /* object-fit: cover; */
}